<div class="header">
    <div class="nameplate" onclick="document.location.href='/'">
        <div class="nameicon"></div>

        <div class="namecontainer">
            <div class="nametop">
                Nathaniel Woodthorpe
            </div>
            <div class="namebottom">
                Software Developer
            </div>
        </div>
    </div>
    <div class="linkbarcontainer">
        <div class="linkbar">
            <div class="link">
                <a id="fade" href="projects">Projects</a>
            </div>
            <div class="link">
                <a id="fade" href="resume.pdf">Resume</a>
            </div>
            <div class="link">
                <a id="fade" href="https://github.com/nwoodthorpe">Github</a>
            </div>
            <div class="link">
                <a id="fade" href="mailto:njwoodthorpe@gmail.com">Contact</a>
            </div>
        </div>
    </div>
</div>
