<div class="global">
    <%= render 'header' %>
    <div class="body">
        <div class="title">
            Welcome
        </div>
        <div class="content">
            My name is Nathaniel Woodthorpe. I'm a second year student at the University of Waterloo enrolled in the Computer Science Co-op program.
        </div>
        <div class="content">
            Check out my resume <%= link_to 'here', "/resume.pdf" %>.
        </div>
    </div>
</div>
